.topSearchLabel
  background-position: 0 -415px
  display: inline-block
  margin: -1px
  height: 30px
  width: 30px
  background-image: url('//ssl.gstatic.com/gb/images/v1_8758f7bb.png')
  -webkit-background-size: 92px 2541px
  background-size: 92px 2541px
  
.topSearchButton
  border: 1px solid transparent
  border-bottom-left-radius: 0
  border-top-left-radius: 0
  height: 30px
  margin: 0
  outline: none
  padding: 0 0
  width: 60px
  -webkit-box-shadow: none
  box-shadow: none
  -webkit-box-sizing: border-box
  box-sizing: border-box
  background: #4285f4
  background: -webkit-linear-gradient(top,#4387fd,#4683ea)
  