.topSearchLabel
  background-position: 0 -415px
  display: inline-block
  margin: -1px
  height: 30px
  width: 30px
  background-image: url('//ssl.gstatic.com/gb/images/v1_8758f7bb.png')
  -webkit-background-size: 92px 2541px
  background-size: 92px 2541px
  
.topSearchButton
  cursor: pointer;
  position: relative;
  top: 14px;
  right: 0;
  padding: 12px 6px 11px 6px;
  background: url("//ssl.gstatic.com/ui/v1/disclosure/light-grey-disclosure-arrow-down.png") no-repeat center;
  padding: 15px 5px;
  height: 6px;
  width: 7px;
  