@import './base.styl'

.container 
  background-color: silver-grey
  height: 60px
  
.leftDiv
  max-width: 202px
  min-width: 202px
  float: left
  height: 60px;
  line-height: 58px;
  vertical-align: middle;
  
.logo 
  background-image: url("http://ssl.gstatic.com/gb/images/v1_8758f7bb.png")
  background-size: 92px 2541px
  background-position: 0 -762px
  height: 33px
  width: 92px
  display: block 
  margin-left: 30px;
  margin-top: 15px;

.middleDiv
 float: left
 width: 650px
 z-index: 986px
    
.rightDiv
 float: right
 min-width: 195px
 height: 60px;
 line-height: 58px
 vertical-align: middle
 
.searchBar
  height: 60px
  line-height: 58px
  vertical-align: middle
  position: relative
  width: 650px
  z-index: 986px

.inputbox
  width: 564px
