@import './base.styl'

.app 
  background-color: silver-grey
  
.logo	
  background-image: url("http://ssl.gstatic.com/gb/images/v1_8758f7bb.png")
  background-size: 92px 2541px
  background-position: 0 -762px
  height: 33px
  width: 92px
  display: block
  