@import './base.styl'

.container 
  background-color: silver-grey
  height: 60px
  display: flex;
  
.leftDiv
  max-width: 202px
  min-width: 202px
  height: 60px
  line-height: 58px
  vertical-align: middle
  flex: 0 0 auto
  
.logo 
  background-image: url("http://ssl.gstatic.com/gb/images/v1_8758f7bb.png")
  background-size: 92px 2541px
  background-position: 0 -762px
  height: 33px
  width: 92px
  display: block 
  margin-left: 30px;
  margin-top: 15px;

.middleDiv
  width: 650px
  
 
.buttonDiv
  border: 1px solid transparent
  border-bottom-left-radius: 0
  border-top-left-radius: 0
  height: 30px
  margin: 14px 0 0 0
  outline: none
  padding: 0 0
  width: 60px
  -webkit-box-shadow: none
  box-shadow: none
  -webkit-box-sizing: border-box
  box-sizing: border-box
  background: #4285f4
  background: -webkit-linear-gradient(top,#4387fd,#4683ea)
  
    
.rightDiv
 float: right
 min-width: 195px
 height: 60px;
 line-height: 58px
 vertical-align: middle
 flex: 1 1 auto
 
.searchBar
  height: 60px
  line-height: 58px
  vertical-align: middle
  position: relative
  width: 650px
  z-index: 986px
   
.inputbox
  width: 564px
  height: 30px
  margin-top: 14px;
